@import "tailwindcss";

@theme {
  --container-xl: 34.5rem;
  --color-primary: #16a781;

  --text-xxs: 0.78125rem;
  --text-xs: 0.9375rem;
  --text-sm: 1rem;
  --text-base: 1.25rem;
  --text-lg: 1.875rem;
  --text-xl: 2.34375rem;
  --text-2xl: 2.8125rem;
  --text-3xl: 3.75rem;
  --text-4xl: 4.6875rem;
}

html {
  @apply bg-[#EBECEC] text-[#272727];
}

body {
  @apply text-base;
  margin: 0 auto;
}

input {
  @apply text-[#272727];
}

::placeholder {
  @apply text-[#8f8f8f];
}
